<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.et.demo03.xml.mapper.GradeMapper">
    <resultMap id="gradeMap" type="cn.et.demo03.xml.model.Grade">
        <id column="gid" property="id"></id>
        <result column="gname" property="name"></result>
    </resultMap>
    <select id="gradeById" resultMap="gradeMap">
        select * from grade where gid=#{id}
    </select>


    <!--一对多的实现例子-->
    <resultMap id="oneToManyMap" type="cn.et.demo03.xml.model.Grade">
        <id column="gid" property="id"></id>
        <result column="gname" property="name"></result>
        <collection property="list" column="gid" javaType="arraylist" select="cn.et.demo03.xml.mapper.StudentMapper.studentByGid"></collection>
    </resultMap>
    <select id="oneToMany" resultMap="oneToManyMap">
        select * from grade where gid=#{id}
    </select>
</mapper>